openapi: 3.0.3
info:
  title: RALOA API
  version: 1.0.0
  description: Server-authoritative API surface for the RALOA product.
servers:
  - url: https://raloa.app
paths:
  /api/account/orders:
    get:
      operationId: get_get_api_account_orders
      responses:
        '200': { description: Order history }
        '401': { description: Authentication required }
        '503': { description: Orders unavailable }
  /api/creator/products:
    get:
      operationId: get_get_api_creator_products
      responses:
        '200': { description: Creator products }
        '401': { description: Authentication required }
        '503': { description: Products unavailable }
    post:
      operationId: post_post_api_creator_products
      responses:
        '201': { description: Product created }
        '400': { description: Invalid product }
        '401': { description: Authentication required }
        '503': { description: Products unavailable }
  /api/creator/products/{productId}:
    patch:
      operationId: patch_patch_api_creator_products_productId
      parameters:
        - { name: productId, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: Product updated }
        '400': { description: Invalid product }
        '401': { description: Authentication required }
        '404': { description: Product not found }
    delete:
      operationId: delete_delete_api_creator_products_productId
      parameters:
        - { name: productId, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: Product archived }
        '401': { description: Authentication required }
        '404': { description: Product not found }
  /api/creator/orders/{orderId}/fulfillment:
    patch:
      operationId: patch_patch_api_creator_orders_orderId_fulfillment
      parameters:
        - { name: orderId, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: Fulfillment updated }
        '400': { description: Invalid fulfillment status }
        '401': { description: Authentication required }
        '404': { description: Order not found }
  /api/v1/public/products/{handle}:
    get:
      operationId: get_get_api_v1_public_products_handle
      parameters:
        - { name: handle, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: Active public creator products }
        '404': { description: Creator not found }
        '503': { description: Products unavailable }
  /api/v1/public/products/{handle}/checkout:
    post:
      operationId: post_post_api_v1_public_products_handle_checkout
      parameters:
        - { name: handle, in: path, required: true, schema: { type: string } }
      responses:
        '201': { description: Stripe Checkout session created }
        '400': { description: Invalid order }
        '409': { description: Out of stock or idempotency conflict }
        '503': { description: Checkout unavailable }
  /api/account/billing:
    get:
      operationId: get_get_api_account_billing
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/account/billing/details:
    get:
      operationId: get_get_api_account_billing_details
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/account/delete-request:
    post:
      operationId: post_post_api_account_delete_request
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/account/export:
    get:
      operationId: get_get_api_account_export
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/account/preferences:
    get:
      operationId: get_get_api_account_preferences
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
    put:
      operationId: put_put_api_account_preferences
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/account/profile:
    get:
      operationId: get_get_api_account_profile
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
    put:
      operationId: put_put_api_account_profile
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/account/referrals:
    get:
      operationId: get_get_api_account_referrals
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/account/sessions:
    get:
      operationId: get_get_api_account_sessions
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/account/sessions/*:
    delete:
      operationId: delete_delete_api_account_sessions_sessionid
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/account/sessions/revoke-all:
    post:
      operationId: post_post_api_account_sessions_revoke_all
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/analytics/platform:
    get:
      operationId: get_get_api_analytics_platform
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/billing/activate-free:
    post:
      operationId: post_post_api_billing_activate_free
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/billing/checkout-session:
    get:
      operationId: get_get_api_billing_checkout_session
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
    post:
      operationId: post_post_api_billing_checkout_session
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/billing/portal-session:
    post:
      operationId: post_post_api_billing_portal_session
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/domains:
    get:
      operationId: get_get_api_domains
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/domains/*:
    delete:
      operationId: delete_delete_api_domains_domainid
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/domains/provision:
    post:
      operationId: post_post_api_domains_provision
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/domains/verify:
    post:
      operationId: post_post_api_domains_verify
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/health:
    get:
      operationId: get_get_api_health
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/public/sites/*:
    get:
      operationId: get_get_api_public_sites_handle
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/readiness:
    get:
      operationId: get_get_api_readiness
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/sites/*:
    put:
      operationId: put_put_api_sites_siteid
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/v1/auth/forgot-password:
    post:
      operationId: post_post_api_v1_auth_forgot_password
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/v1/auth/login:
    post:
      operationId: post_post_api_v1_auth_login
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/v1/auth/logout:
    post:
      operationId: post_post_api_v1_auth_logout
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/v1/auth/oauth/apple:
    post:
      operationId: post_post_api_v1_auth_oauth_apple
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/v1/auth/oauth/google:
    post:
      operationId: post_post_api_v1_auth_oauth_google
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/v1/auth/register:
    post:
      operationId: post_post_api_v1_auth_register
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/v1/auth/reset-password:
    post:
      operationId: post_post_api_v1_auth_reset_password
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/v1/auth/session:
    get:
      operationId: get_get_api_v1_auth_session
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
    post:
      operationId: post_post_api_v1_auth_session
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/v1/auth/verify-email:
    post:
      operationId: post_post_api_v1_auth_verify_email
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/v1/handles/check:
    get:
      operationId: get_get_api_v1_handles_check
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/v1/handles/reserve:
    post:
      operationId: post_post_api_v1_handles_reserve
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/v1/public/bookings:
    post:
      operationId: post_post_api_v1_public_bookings
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/v1/public/scheduling/{handle}/config:
    get:
      operationId: get_get_api_v1_public_scheduling_handle_config
      parameters:
        - name: handle
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Published creator scheduling configuration
        '400':
          description: Invalid handle
        '404':
          description: Scheduling is disabled or unavailable
        '503':
          description: Scheduling backend is not configured
  /api/v1/public/scheduling/{handle}/availability:
    get:
      operationId: get_get_api_v1_public_scheduling_handle_availability
      parameters:
        - name: handle
          in: path
          required: true
          schema: { type: string }
        - name: from
          in: query
          required: true
          schema: { type: string, format: date }
        - name: to
          in: query
          required: true
          schema: { type: string, format: date }
        - name: serviceId
          in: query
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Server-calculated available slots
        '400':
          description: Invalid date range or service request
        '404':
          description: Service is unavailable
        '503':
          description: Scheduling backend is not configured
  /api/v1/public/contact:
    post:
      operationId: post_post_api_v1_public_contact
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/v1/public/newsletter:
    post:
      operationId: post_post_api_v1_public_newsletter
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/v1/public/telemetry/link-click:
    post:
      operationId: post_post_api_v1_public_telemetry_link_click
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/v1/public/telemetry/page-view:
    post:
      operationId: post_post_api_v1_public_telemetry_page_view
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/v1/referrals/qualify:
    post:
      operationId: post_post_api_v1_referrals_qualify
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/webhooks/stripe:
    post:
      operationId: post_post_api_webhooks_stripe
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /llms.txt:
    get:
      operationId: get_get_llms_txt
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /robots.txt:
    get:
      operationId: get_get_robots_txt
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /sitemap.xml:
    get:
      operationId: get_get_sitemap_xml
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
