openapi: 3.0.3
info:
  title: RALOA API
  version: 1.0.0
  description: Server-authoritative API surface for the RALOA product.
servers:
  - url: https://raloa.app
paths:
  /api/account/billing:
    get:
      operationId: get_get_api_account_billing
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/account/billing/details:
    get:
      operationId: get_get_api_account_billing_details
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/account/delete-request:
    post:
      operationId: post_post_api_account_delete_request
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/account/export:
    get:
      operationId: get_get_api_account_export
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/account/orders:
    get:
      operationId: get_get_api_account_orders
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/account/preferences:
    get:
      operationId: get_get_api_account_preferences
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
    put:
      operationId: put_put_api_account_preferences
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/account/profile:
    get:
      operationId: get_get_api_account_profile
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
    put:
      operationId: put_put_api_account_profile
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/account/referrals:
    get:
      operationId: get_get_api_account_referrals
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/account/sessions:
    get:
      operationId: get_get_api_account_sessions
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/account/sessions/*:
    delete:
      operationId: delete_delete_api_account_sessions_sessionid
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/account/sessions/revoke-all:
    post:
      operationId: post_post_api_account_sessions_revoke_all
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/analytics/platform:
    get:
      operationId: get_get_api_analytics_platform
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/auth/logout:
    post:
      operationId: post_post_api_auth_logout
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/auth/session:
    get:
      operationId: get_get_api_auth_session
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
    post:
      operationId: post_post_api_auth_session
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/billing/activate-free:
    post:
      operationId: post_post_api_billing_activate_free
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/billing/checkout-session:
    get:
      operationId: get_get_api_billing_checkout_session
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
    post:
      operationId: post_post_api_billing_checkout_session
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/billing/portal-session:
    post:
      operationId: post_post_api_billing_portal_session
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/calendar/*:
    delete:
      operationId: delete_delete_api_calendar_provider
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/calendar/*/callback:
    get:
      operationId: get_get_api_calendar_provider_callback
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/calendar/*/refresh:
    post:
      operationId: post_post_api_calendar_provider_refresh
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/calendar/*/start:
    get:
      operationId: get_get_api_calendar_provider_start
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/calendar/integrations:
    get:
      operationId: get_get_api_calendar_integrations
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/creator/audience:
    get:
      operationId: get_get_api_creator_audience
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/creator/audience/export:
    get:
      operationId: get_get_api_creator_audience_export
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/creator/audience/subscribers:
    post:
      operationId: post_post_api_creator_audience_subscribers
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/creator/audience/{kind}/{id}:
    delete:
      operationId: delete_delete_api_creator_audience_kind_id
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
    patch:
      operationId: patch_patch_api_creator_audience_kind_id
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/creator/bookings:
    get:
      operationId: get_get_api_creator_bookings
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/creator/bookings/*/cancel:
    post:
      operationId: post_post_api_creator_bookings_bookingid_cancel
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/creator/bookings/*/confirm:
    post:
      operationId: post_post_api_creator_bookings_bookingid_confirm
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/creator/orders:
    get:
      operationId: get_get_api_creator_orders
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/creator/orders/*/fulfillment:
    patch:
      operationId: patch_patch_api_creator_orders_orderid_fulfillment
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/creator/products:
    get:
      operationId: get_get_api_creator_products
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
    post:
      operationId: post_post_api_creator_products
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/creator/products/*:
    delete:
      operationId: delete_delete_api_creator_products_productid
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
    patch:
      operationId: patch_patch_api_creator_products_productid
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/domains:
    get:
      operationId: get_get_api_domains
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/domains/*:
    delete:
      operationId: delete_delete_api_domains_domainid
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/domains/provision:
    post:
      operationId: post_post_api_domains_provision
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/domains/verify:
    post:
      operationId: post_post_api_domains_verify
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/health:
    get:
      operationId: get_get_api_health
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/integrations:
    get:
      operationId: get_get_api_integrations
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/integrations/*:
    delete:
      operationId: delete_delete_api_integrations_provider
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/integrations/*/refresh:
    post:
      operationId: post_post_api_integrations_provider_refresh
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/integrations/github/callback:
    get:
      operationId: get_get_api_integrations_github_callback
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/integrations/github/start:
    get:
      operationId: get_get_api_integrations_github_start
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/integrations/providers:
    get:
      operationId: get_get_api_integrations_providers
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/media:
    get:
      operationId: get_get_api_media
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/media/*:
    delete:
      operationId: delete_delete_api_media_mediaid
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/media/*/url:
    get:
      operationId: get_get_api_media_mediaid_url
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/media/cleanup:
    post:
      operationId: post_post_api_media_cleanup
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/media/public/*:
    get:
      operationId: get_get_api_media_public_mediaid
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/media/upload:
    post:
      operationId: post_post_api_media_upload
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/media/upload-complete:
    post:
      operationId: post_post_api_media_upload_complete
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/media/upload-url:
    post:
      operationId: post_post_api_media_upload_url
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/public/sites/*:
    get:
      operationId: get_get_api_public_sites_handle
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/readiness:
    get:
      operationId: get_get_api_readiness
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/sites:
    get:
      operationId: get_get_api_sites
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
    post:
      operationId: post_post_api_sites
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/sites/*:
    delete:
      operationId: delete_delete_api_sites_siteid
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
    put:
      operationId: put_put_api_sites_siteid
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/sites/*/publish:
    post:
      operationId: post_post_api_sites_siteid_publish
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/sites/*/rollback:
    post:
      operationId: post_post_api_sites_siteid_rollback
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/sites/*/unpublish:
    post:
      operationId: post_post_api_sites_siteid_unpublish
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/v1/auth/forgot-password:
    post:
      operationId: post_post_api_v1_auth_forgot_password
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/v1/auth/login:
    post:
      operationId: post_post_api_v1_auth_login
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/v1/auth/logout:
    post:
      operationId: post_post_api_v1_auth_logout
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/v1/auth/oauth/apple:
    post:
      operationId: post_post_api_v1_auth_oauth_apple
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/v1/auth/oauth/google:
    post:
      operationId: post_post_api_v1_auth_oauth_google
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/v1/auth/register:
    post:
      operationId: post_post_api_v1_auth_register
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/v1/auth/reset-password:
    post:
      operationId: post_post_api_v1_auth_reset_password
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/v1/auth/session:
    get:
      operationId: get_get_api_v1_auth_session
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
    post:
      operationId: post_post_api_v1_auth_session
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/v1/auth/verify-email:
    post:
      operationId: post_post_api_v1_auth_verify_email
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/v1/handles/check:
    get:
      operationId: get_get_api_v1_handles_check
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/v1/handles/reserve:
    post:
      operationId: post_post_api_v1_handles_reserve
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/v1/health:
    get:
      operationId: get_get_api_v1_health
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/v1/public/bookings:
    post:
      operationId: post_post_api_v1_public_bookings
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/v1/public/contact:
    post:
      operationId: post_post_api_v1_public_contact
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/v1/public/newsletter:
    post:
      operationId: post_post_api_v1_public_newsletter
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/v1/public/products/*:
    get:
      operationId: get_get_api_v1_public_products_handle
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/v1/public/products/*/checkout:
    post:
      operationId: post_post_api_v1_public_products_handle_checkout
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/v1/public/scheduling/*/availability:
    get:
      operationId: get_get_api_v1_public_scheduling_handle_availability
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/v1/public/scheduling/*/config:
    get:
      operationId: get_get_api_v1_public_scheduling_handle_config
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/v1/public/telemetry/link-click:
    post:
      operationId: post_post_api_v1_public_telemetry_link_click
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/v1/public/telemetry/page-view:
    post:
      operationId: post_post_api_v1_public_telemetry_page_view
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/v1/referrals/qualify:
    post:
      operationId: post_post_api_v1_referrals_qualify
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /api/webhooks/stripe:
    post:
      operationId: post_post_api_webhooks_stripe
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /health:
    get:
      operationId: get_get_health
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /internal/background-jobs/reconcile:
    post:
      operationId: post_post_internal_background_jobs_reconcile
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /internal/background-jobs/run:
    post:
      operationId: post_post_internal_background_jobs_run
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /internal/calendar-jobs/reconcile:
    post:
      operationId: post_post_internal_calendar_jobs_reconcile
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /internal/domain-verification/reconcile:
    post:
      operationId: post_post_internal_domain_verification_reconcile
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /internal/outbox/cleanup:
    post:
      operationId: post_post_internal_outbox_cleanup
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /internal/outbox/publish:
    post:
      operationId: post_post_internal_outbox_publish
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /internal/outbox/replay:
    post:
      operationId: post_post_internal_outbox_replay
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /llms.txt:
    get:
      operationId: get_get_llms_txt
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /robots.txt:
    get:
      operationId: get_get_robots_txt
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /sitemap.xml:
    get:
      operationId: get_get_sitemap_xml
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /tasks/background-jobs:
    post:
      operationId: post_post_tasks_background_jobs
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /tasks/background-jobs/*:
    get:
      operationId: get_get_tasks_background_jobs_jobid
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
  /tasks/outbox-publish:
    post:
      operationId: post_post_tasks_outbox_publish
      responses:
        '200':
          description: Successful response
        '400':
          description: Invalid request
        '401':
          description: Authentication required
